<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Detalhes do contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Detalhes</ion-label>
  <!-- Input with placeholder -->
  <ion-list>
    <form [formGroup]="formdetalhar" (ngSubmit)="submitForm()">
  
      <ion-item>
        <ion-label>Habilitar edição</ion-label>
        <ion-toggle color="sucess" (ionChange) = "alterarEdicao()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nome" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.nome.touched) || (errorControl.nome.dirty))&& errorControl.nome.errors)">
        <span *ngIf="errorControl.nome.errors?.required">Nome é obrigatório!</span>
      </ion-item>
      <!-- Input with placeholder -->
      <ion-item>
        <ion-input placeholder="Telefone" formControlName="telefone" [brmasker]="{mask:'(00)00000-0000',len:14}"></ion-input>
      </ion-item>
      <ion-item *ngIf="(((errorControl.telefone.touched) || (errorControl.telefone.dirty))&& errorControl.telefone.errors)">
        <span *ngIf="errorControl.telefone.errors?.minlength">Telefone Obrigatório e precisa ter 10 caracteres!</span>
    </ion-item>
      <ion-item>
        <ion-select placeholder="Selecione o Genero" formControlName="genero">
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="Feminino">Feminino</ion-select-option>
          <ion-select-option value="não declarado">Não Declarar</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="(((errorControl.genero.touched) || (errorControl.genero.dirty))&& errorControl.genero.errors)">
        <span *ngIf="errorControl.genero.errors?.required">Genero é obrigatório!</span>
      </ion-item>
      <ion-item>
        <ion-label>Data de Nascimento</ion-label>
        <ion-datetime-button datetime="datetime" disabled="{{editar}}"></ion-datetime-button>
    
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime formControlName="dataNascimento" id="datetime" presentation="date" max={{data}}></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="(((errorControl.dataNascimentotouched) || (errorControl.dataNascimento.dirty))&& errorControl.dataNascimento.errors)">
        <span *ngIf="errorControl.dataNascimento.errors?.required">Data de Nascimento é obrigatório!</span>
      </ion-item>

      <ion-item>
        <ion-button color="success" size="default" shape="round" class="img-input">
          <input type="file" (change)="uploadFile($event.target)" formControlName="imagem">
        </ion-button>
      </ion-item>
    
      <ion-button disabled="{{editar}}" expand="block" (click)="edicao()">Editar</ion-button>
      <ion-button disabled="{{editar}}" expand="block" (click)="excluir()" color="danger">Excluir</ion-button>
      <ion-item>
        <ion-img src="{{contato.downloadURL}}"></ion-img>
      </ion-item>
    </form>
  </ion-list>
</ion-content>